.container {
}

.h1 {
  text-align: center;
}

.content {
  padding: 12px;
  margin: 0 auto;
}

.input1,
.input2,
.input3,
.input4 {
  padding: 10px;
  width: 100%;
}

.footer {
  margin-top: 5%;
  text-align: center;
}

.blueButton {
  background-color: blue;
  color: white;
  border: none;
  padding: 15px 50px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 24px;
}

.birthDateContainer {
  font-size: 14px;
  margin: 0 auto;
}

.option1 {
  width: 100%;
  text-align: center;
}

.to1 {
  padding: 10px;
  text-align: center;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Adjustments for different screen sizes */
@media (min-width: 800px) {
  .content {
    padding: 12px 32px;
    margin: 0 auto;
    max-width: 800px;
  }

  .input1,
  .input2,
  .input3,
  .input4 {
    width: 100%;
  }

  .to1 {
    padding: 10px;
  }

  .blueButton {
    padding: 20px 70px;
    font-size: 30px;
  }
}

